
body {
	font-family: sans-serif, fantasy;
	background-color: rgb(176, 218, 255);
}
a {
	text-decoration: none;
	color: white;
}

.interact {
	background-color: rgb(74, 193, 248);
	align-items: center;
	border-radius: 10px;
	width: 100%;
	height: 100%;
    position:absolute;
	top: 7px;
	
	display: flex;
	flex-direction: column;
}
h1 {
	text-align: center;
}
.btn {
	position: absolute;
	align-items: center;
	display: flex;
	justify-content: center;
	flex-direction: row;
	top: 500px;
	width: 700px;
	height: 60px;
	cursor: pointer;
}
.returnn {
	background-color: rgb(26, 111, 168);
	border-radius: 10px;
	display: flex;
	align-items: center;
    justify-content: center;
	position: absolute;
	top: 700px;
	left: 47%;
	height: 50px;
	width: 150px;
}